/** ----------------------------------

  Variables
  ---------

---------------------------------- */
// Type.
$sans-stack: sans-serif;
$serif-stack: serif;

$primary-stack: $sans-stack;
$secondary-stack: $serif-stack;

// Colors.

// Palette.
$primary: black;
$secondary: white;
$tertiary: white;
$quadrary: white;