/** ----------------------------------

  Variables
  ---------

---------------------------------- */
// Type.
$sans-stack: 'proxima-nova', sans-serif;
$serif-stack: serif;

$primary-stack: $sans-stack;
$secondary-stack: $serif-stack;

// Colors.
$blue: #7ec2ff;
$darkgray: #222;
$lightgray: #d8d8d8;

// Palette.
$primary: black;
$secondary: $blue;
$tertiary: $lightgray;
$quadrary: $darkgray;