/** ----------------------------------

  Global Header
  -------------

  Global header layout.

---------------------------------- */
.global-header {
  @include position(relative, 0, 10);
  @include translate3d(0, 0, 0);
  
  &.searching {
    .background {
      @include transform3d(translateY(-500%) skew(0, 5deg));
    }
    
    .background-alt {
      @include transform3d(translateY(-500%) skew(0, -5deg));
    }
    
    .title {
      @include translateY(-200%);
    }
    
    .search {
      @include translateY(-200%);
    }
    
    .back {
      @include transition-delay(1s);
      @include translateY(0%);
    }
    
    .sub-header {
      @include transition-delay(0s);
      
      opacity: 0;
    }
    
    .legend {
      @include transition-delay(1s);
      @include translateY(-100px);
    }
  }
  
  .background {
    @include position(absolute, -20px 0 0 0px);
    @include transition(transform 2s .5s ease-out);
    @include size(100%, 100px);
    @include transform3d(translateY(0%) skew(0, .7deg));
    opacity: .95;
    
    background-color: black;
  }
  
  .background-alt {
    @include position(absolute, 35px 0 0 0px);
    @include transition(transform 1s .8s ease-out);
    @include size(100%, 50px);
    @include transform3d(translateY(0%) skew(0, -.3deg));
    opacity: .35;
    
    background-color: #404147;
  }
  
  .title {
    @include position(absolute, 20px 0 0 60px);
    @include transition(transform 1s .8s ease-out);
  }
  
  .search {
    @include position(absolute, 20px 60px);
    @include transition(box-shadow .2s ease-out, transform .5s 1s ease-out);
    
    width: 380px;
    padding: 5px 10px;
    font: 23px $primary-stack;
    color: white;
    background-color: #323131;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 2px 0 0 rgba(black, .3);
    
    &:focus {
      outline: none;
      box-shadow: 0 2px 0 0 rgba($blue, .6);
    }
  }
  
  .back {
    @include position(absolute, 20px 0 0 20px);
    @include transition(transform .5s ease-out);
    @include translateY(-200%);
    
    .now-viewing {
      margin-left: 20px;
      font: 18px $primary-stack;
      color: $blue;
      
      .term {
        font-weight: 800;
      }
    }
  }
  
  .sub-header {
    @include position(absolute, 110px);
    @include transition(opacity .5s 1s ease-out);
    
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    
    .recommended {
      font-size: 13px;
      
      .label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-weight: 800;
        color: $lightgray;
      }
      
      .list {
        display: inline-block;
        vertical-align: middle;
        
        li {
          float: left;
          margin-right: 10px;
          font-weight: 600;
        }
      }
    }
    
    .analytics {
      display: none;
      float: right;
    }
  }
}