/** ----------------------------------

  Global Header
  -------------

  Global header layout.

---------------------------------- */
.global-header {
  @include position(relative, 0, 10);
  
  .background {
    @include position(absolute, -20px 0 0 0px);
    @include size(100%, 100px);
    @include skew(0, .5deg);
    opacity: .95;
    
    background-color: #111111;
  }
  
  .background-alt {
    @include position(absolute, 35px 0 0 0px);
    @include size(100%, 50px);
    @include skew(0, -.3deg);
    opacity: .35;
    
    background-color: #404147;
  }
  
  .title {
    @include position(absolute, 20px 0 0 60px);
  }
  
  .search {
    @include position(absolute, 20px 60px);
    @include transition(box-shadow .2s ease-out);
    
    width: 380px;
    padding: 5px 10px;
    font: 23px $primary-stack;
    color: white;
    background-color: #323131;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 2px 0 0 rgba(black, .3);
    
    &:focus {
      outline: none;
      box-shadow: 0 2px 0 0 rgba($blue, .6);
    }
  }
  
  .sub-header {
    display: none;
  } 
}