/** ----------------------------------

  Website
  -------

  Website layout. Contains mostly global website elements.

---------------------------------- */
html {
  @include background(linear-gradient(#2A2A2A, black));
}

body {
}

// Misc.
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}