/** ----------------------------------

  Type
  ----

  Type module.

---------------------------------- */
// Imports.
@import 'mixins';

// Variable defaults.

/*
  Mixon.
*/
@mixin type() {
  #{headings(all)} {
    font-family: $primary-stack;
    margin-top: 0;
  }
  
  h1 {
    font-size: 23px;
    font-weight: 400;
    color: $lightgray;
  }
  
 // h2 {
//    font: italic 70px/62px $condensed-stack;
//    text-transform: uppercase;
//  }
//  
//  h3 {
//    margin-bottom: 15px;
//    font: 700 40px $condensed-stack;
//    letter-spacing: -1px;
//    text-transform: uppercase;
//  }
//  
//  h4 {
//    @extend h3;
//    
//    margin: 10px 0;
//    font-size: 22px;
//    font-style: italic;
//    letter-spacing: normal;
//  }
//  
//  h5 {
//    font: 700 16px $condensed-stack;
//    line-height: normal;
//    text-transform: uppercase;
//  }
//  
//  h6 {
//    @extend h5;
//    
//    margin-bottom: 5px;
//    color: darken($gray, 10%);
//  }
  
  p {
    font: 18px/22px $primary-stack;
//    color: $darkgray;
  }
  
  a {
    @include transition(color .2 ease-out);
    
    color: $blue;
    text-decoration: none;
    
    &:hover {
      color: darken($blue, 5%);
    }
  }
}


/** ----------------------------------

    Module extends.
    
---------------------------------- */